body {
    font-family: Arial, Helvetica, sans-serif; /*trocar isso daqui */
    background-color: #370466; 
    color: antiquewhite; /*trocar isso daqui */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.imagem-secao {
    flex: 1;
    max-width: 50%;
    order: 1;
    padding-top: 40px;
}

.conteudo-secao {
    flex: 1;
    max-width: 50%;
    order: 2;
    padding: 20px;
}

header {
    font-style: normal; /*trocar isso daqui */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.texto-gitesy {
    font-family:Arial, Helvetica, sans-serif; /*trocar isso daqui */
    font-size: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
    color: antiquewhite; /*trocar isso daqui */
}

nav a {
    text-decoration: none; 
    color: antiquewhite; /*trocar isso daqui */
}

.line-nav {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid antiquewhite; /*trocar isso daqui */
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: large;
    text-align: justify;
    width: 100%;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .imagem-secao, .conteudo-secao {
        max-width: 100%;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .line-nav {
        max-width: 100%;
    }
}
