label {
    font-weight: bolder;
}
::placeholder {
    color:rgb(150, 150, 150) !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  rgb(150, 150, 150)) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  rgb(150, 150, 150) !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }

 h1{
     font-family:Arial, Helvetica, sans-serif;
 }
 body {
    background-color:#370466;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}
