body, ul, li, input {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #2E336B;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    border-radius: 15px;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {    
    color: #fff;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 1200px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
    }

    .nav-menu li {
        margin: 5px 0;
    }
}
/* Navbar final*/

/* Barra de pesquisa */
.search-bar {
    text-align: center;
    max-width: 1200px;
    margin: 20px auto;
}

.search-input {
    width: 100%;
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    text-align: center; 
}
/* Barra de pesquisa final*/

/*Categorias */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2E336B;
}

h2 {
    text-align: left;
    color: #fff;
}

h2::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 2px;
    background-color: #5566B8;
    margin: 10px auto;
}

.buttons {
    text-align: left;
}

.category-button {
	background-color:#251857;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	padding:7px 21px;
	text-decoration:none;
    border: #fff;
    margin-bottom: 20px;
}

.imagem-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.category-block {
    max-width: 300px;
    text-align: left;
    background-color: #11113A;
    border: 2px solid #5566B8;
    border-radius: 15px;
}

.category-block img {
    width: 100%;
    max-width: 100%; 
    height: auto;
    object-fit: cover; 
}

.category-block h1 {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}

.category-block p {
    font-size: 14px;
    text-align: left;
    color: #cecece;
    cursor: pointer;
}

/* icones */
.category-block i {
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
    color: #fff;
}

.conteudo {
    padding-left: 15px;
}
 

/* Responsivo */
@media (max-width: 768px) {
    .imagem-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
/*Categorias final*/


