body {
    background-color: #370466;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #370466;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #fff;
}

.navbar {
    margin-right: 30px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        margin-top: 10px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 5px 0;
    }
}

/* imagem principal */
.image-section {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px; 
}

.image-section img {
    width: 100%; 
    height: auto; 
}


/* Secao-de-imagens */
.secao-de-imagens {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.imagem-container {
    text-align: center;
    padding: 10px;
    background-color: #2244ca;
    border: 1px solid #ddd;
}

.imagem-container .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; 
}

.imagem-container .imagem img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.imagem-container .titulo {
    padding: 10px;
}

.imagem-container .titulo h1 {
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .secao-de-imagens {
        flex-direction: column; 
    }
    
    .imagem-container {
        flex: 0 0 100%;
    }
}