body, ul, li, input {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #370466;
}

img {
    border-radius: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #370466;
    padding: 10px;
    margin: 20px 20px;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
    }

    .nav-menu li {
        margin: 5px 0;
    }
}

/*secao */
.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #2E336B;
    padding: 20px;
    border: 2px solid #282373; 
}

.secao-esquerda {
    width: 48%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.secao-direita {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.conteudo-secao-esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.conteudo {
    display: flex;
    align-items: center;
}

.conteudo-secao-direita {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.icone {
    font-size: 24px;
    margin-right: 10px;
    background-color: #E8AFF6;
    border-radius: 50%;
    padding: 1px 6px;
}

.img-direita{
    width: 200px; 
    height: auto; 
}

.secao-esquerda p {
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0;
    padding-left: 30px;
}

h3 {
    font-size: 24px;
}

h1, h2, h3, p {
    color: #fff;
}

button {
    background-color: #2E336B;
    color: #fff;
    padding: 5px 10px; 
    border: none;
    cursor: pointer;
    margin: 0 auto; 
    display: block; 
}

.paragrafo {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .secao-esquerda {
        width: 100%;
    }

    .secao-direita {
        width: 100%;
    }
}